
#header {
    position:fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%; /*1109px;*/
    background: url(../images/bg-header120.png);
    height: 120px;
    z-index: 201;
}

#container-header {
    padding: 0;
    margin: 0 auto;
    width: 1109px;
    height: 120px;
}

#block-search-form {
    margin-top: 120px;
}

.text-red {
    color: #ab2328;
}

.icon-twitter {
    background: url(../images/sprite.png) no-repeat 0 -793px;
    width: 35px;
    height: 31px;
}

.icon-blog {
    background: url(../images/sprite.png) no-repeat -55px -793px;
    width: 35px;
    height: 31px;
}

#header {
    position:fixed;
    top: 0;
    height: 120px;
    z-index: 201;
}

.header-utilities {
    margin: 24px 0 0 0;
    width: 470px;
    float: right;
}

.search {
    background: url(../images/sprite.png) no-repeat -2px -66px;
    width: 19px;
    height: 18px;
    float: right;
    margin: 0;
    text-indent: -9999px;
}

.trial {
    width: 142px;
}

.search-desktop {
    margin: 0 0 0 20px;
}

/*floating utilities right*/

#right-utility {
    position:fixed;
    width: 35px;
    height: 107px;
    right: 0;
    z-index: 200;
    bottom: 62px;
}

#right-utility-nav {
    position:fixed;
    width: 60px;
    height: 182px;
    top: 300px;
    right: 0;
    z-index: 200;
}

#right-utility-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#right-utility-nav ul li {

    margin: 14px;
    padding: 0;
}

.circle-base {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}



.circle {
    width: 10px;
    height: 10px;
    background: #666;
    cursor:pointer;
}

.circle:hover {
    background: #ab2328;
}

.circle-on {
    width: 10px;
    height: 10px;
    background: #ab2328;
}

/*end floating utilities right*/

.trial {
    text-align: center;
    text-transform: uppercase;
    /* width: 110px; */
    height: 24px;
    letter-spacing: 1px;
    font: 12px/25px "proxima-nova", Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 2px !important;
    background-color: #ab2328;
    float: right;
    margin: 0 0 0 45px;
    border: 0 !important;
    cursor: pointer !important;
    padding: 0px 10px !important;
}



#logo-pernixdata {
    width: 140px;
}

#wrapper-nav {
    clear:left;
    float:none;
}

#container-header-top {
    height: 60px;
}

.logo {
    float: left;
    margin:  16px 0 0 0;
}

.buttons-nav-top {
    float: right;
    margin-top: 18px;
}

#nav ul {
    padding: 11px 0 0;
}

#nav > .region > ul.menu > li > a {
    font-weight: 600;
}

#nav ul li a {
    padding: 12px 44px 16px 0;
    color: #fff;
}

#nav ul li ul {
   top: 49px;
}


#nav .region-header {
/*    padding-top: 20px;*/
}

.trial {
    margin: 0 0 0 20px ; /*!important*/
}

#header .top .add-nav li {
    float: left;
    padding: 0 12px 0 12px;
    position: relative;
}

#header .top .add-nav li:last-child {
    padding-right: 0;
}


.banner {
/*    margin: 40px 0;
    border-top: 1px solid #f4f4f4;*/
}

.customer-text {
    font: 400 0.85em/1.2em "proxima-nova",Arial,Helvetica,sans-serif !important;
    text-align: center;
    display:block;
    width: 100%;
}

.slider-home-customers-item img {
    margin: 0 auto;
}

.region-01 {
/*    background: url('../images/bg-region-01.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: transparent;
    border-bottom: 1px solid #dedede;
    margin-top: 116px; /*120px;*/
}

.region-02 {
    background: url('../images/bg-region-02a.jpg') #fff no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 40px 0 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    min-height: 615px;
}

.region-02 .holder {
    margin: 40px auto;
}


.region-03 {
/*    background: url('../images/bg-region-03.jpg') #fff no-repeat center center;*/
    background: #f4f4f4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 555px;
    margin: 40px 0 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.region-04 {
    background: #fff;
    min-height: 565px;
    margin: 40px 0 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.region-05 {
    background: #f4f4f4;
    min-height: 535px;
    margin: 40px 0 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.region-06 {
    background: #fff;
    min-height: 615px;
    margin: 40px 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.region-07 {
    background: url('../images/bg-region-geo.jpg') #fff no-repeat center center;
    min-height: 655px;
    color: #fff;
}

.container-slideshow {
    width: 100%;
/*    background: rgba(255, 255, 255, 0.9);*/
}

.section-news {
    margin-top: 105px !important;
}

.section-news p, .section-news span, .section-news h3 {
    text-align: left;
}

.container-section-home h2  {
    font: 600 3.2em/1em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 80px 0 60px  !important;

}

.container-section-home p  {
    font-size: 20px !important;
    line-height: 28px;
    color: #000;
/*    text-align: justify;*/
    margin: 0 auto;
}


div.col-news-header {
    margin-top: 45px;
}

/*colors and custom sizes*/

.dark-blue {
    background-color: #43456c;
}

.dark-blue:hover {
    background-color: #3a3c68;
}

.dark-blue2 {
    background-color: #525483;
}

.dark-blue2:hover {
    background-color: #616391;
}

p.large {
    font: 500 1.7em/1.2em "proxima-nova",Arial,Helvetica,sans-serif !important;
}

p.medium {
    font: 500 1.5em/1.2em "proxima-nova",Arial,Helvetica,sans-serif !important;
}


.bg-orange {
    background-color: #ff9a41 !important;
    color: #fff !important;
    min-height: 120px;
}

.bg-orange p {
    color: #fff !important;
}

.bg-orange h3 {
    font: 700 1.5em/1.3em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #fff !important;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.bg-dark-blue {
    background-color: #313776  !important;
    color: #fff !important;
    min-height: 120px;
}

.bg-dark-blue p {
    color: #fff !important;
}

.bg-dark-blue h3 {
    font: 700 1.5em/1.3em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #fff !important;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}


/*layout home page*/

.container-section-home {
    margin: 0 auto;
  /*  width: 940px;*/
}

/*layout 50 */

.container-section-home .col-50 {
    width: 420px;
    margin: 0 20px 20px 0;
    background: #fff;
    float:left;
    padding: 20px;
    text-align: center;
}

.container-section-home .col-50-last, .container-section-home .col-30-last {
     margin-right: 0 !important;
 }

.container-section-home .col-50-center {
    margin: 0 20px 20px 240px;
}

.container-section-home .col-50-center:after {
    clear: both;
}

.container-section-home .col-50 p {
    font: 0.9em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #333740;
    width: auto;
}

.container-section-home .col-50 img {
    margin: 0 auto;
}

/*layout 30 */

.container-section-home .col-30 {
    width: 280px;
    margin: 0 40px 20px 0;
    background: #fff;
    float:left;
    padding: 0;
    text-align: center;
}


.container-btn-center {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.container-btn-center-products {
    text-align: center;
    width: 100%;
    padding: 40px 0 20px;
}

.btn-orange{
    position: relative;
    text-align:center;
    text-transform:uppercase;
    padding: 10px 30px;
    letter-spacing:1px;
    font:14px/31px "proxima-nova", Arial, Helvetica, sans-serif;
    color:#fff;
    border-radius: 2px;
    background-color: #ff9a41;
}
.btn-orange:hover{
    text-decoration:none;
    background:#fea455;
}

.btn-dark-blue{
    position: relative;
    text-align:center;
    text-transform:uppercase;
    padding: 10px 30px;
    letter-spacing:1px;
    font:14px/31px "proxima-nova", Arial, Helvetica, sans-serif;
    color:#fff;
    border-radius: 2px;
    background-color: #3a3c68;
}
.btn-dark-blue:hover{
    text-decoration:none;
    background-color: #3a3c68;
}




.btn-red-sm{
    position: relative;
    text-align:center;
    text-transform:uppercase;
    padding: 7px 30px;
    letter-spacing:1px;
    font:12px/30px "proxima-nova", Arial, Helvetica, sans-serif;
    color:#fff;
    border-radius: 2px;
    background-color: #ab2328;
}
.btn-red-sm:hover{
    text-decoration:none;
    background:#8d0007;
}


.btn-black-sm:hover{
    text-decoration:none;
    background:#333;
}

.btn-black-xsm{
    position: relative;
    text-align:center;
    text-transform:uppercase;
    padding: 10px 25px;
    letter-spacing:1px;
    font:13px/23px "proxima-nova", Arial, Helvetica, sans-serif;
    color:#fff;
    border-radius: 2px;
    background-color: #000;
}
.btn-black-xsm:hover{
    text-decoration:none;
    background:#333;
}

p.social {
    font: 300 1.1em/1.3em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #000;
    text-align: left;
    padding: 20px 0 0;
}

h3.news  {
    font: 600 1.7em/1em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #000;
    text-align: left;
    margin: 10px 0 43px  !important;

}

p.news-blurb {
    font: 300 1.0em/1.3em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #000;
    text-align: left;
    padding: 0 0 20px;
}

.date-news {
    font: 600 0.8em/1em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #000;
    text-align: left;
    padding: 0 0 4px;
}


.region-07 h2, .region-07 p {
    color: #fff !important;
}

.region-07 h2 {
    margin: 60px 0 30px !important;
    line-height: 1em;
}



.btn-customers {
    padding-top: 50px
}

h2.customers {
    margin-bottom: 20px !important;
}

p.large-customers {
    height: 110px;
    color: #797979
}




#footer .holder {
    width: 1067px;
    margin: 40px auto 40px;
    border: 1px solid #EBEBEB;
    overflow: hidden;
    padding: 18px 20px 6px;
}

#footer .footer-b {
    width: 100%;
    overflow: hidden;
    background: #000 none repeat scroll 0 0;
    border-top: none;
    min-height: 40px;
}

#footer .footer-b .box .privacy {
    float: none;
    padding: 10px;
    margin: 0 auto;
    width: 400px;
}

#footer .footer-b .box {
    text-align: center;
}


.search-mobile {
    display:none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}


/*bxslider*/

.slides-navigation .next, .slides-navigation .prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 43px;
    height: 108px;
    margin-top: -108px;
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: none;
}

.slides-navigation .next {
    right: 10px !important;
    background: url(../images/sprite-controls.png) -43px -21px no-repeat;
}

.slides-navigation .prev {
    left: 10px !important;
    background: url(../images/sprite-controls.png) 0 -21px no-repeat;
}

ul#slider-home-hero {
    padding: 0;
    margin: 0;
}

ul#slider-home-hero li {
    background: no-repeat center center;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


ul#slider-home-hero li span.h1{
    font: 700 3em/1.15em "proxima-nova",Arial,Helvetica,sans-serif !important;
    color: #343741;
    height: 160px;
}

.slider-home-center {
    width: 100%;
    display:block;
    height: 160px;
    margin-top: 160px;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: #000;
    text-align: center;
}

#container-slider-home-hero {
    visibility: hidden;
}

.slider-home-btn {
    display:block;
    width: 100%;
    text-align: center;
    margin-top: 23px;
}

/*slickslider*/

.slick-prev {
    left: 90px;

}

.slick-next {
    right: 90px;
}





/*.slider-home .slide {width: 100%; height: 100%;}*/


/*Benefits*/

.container-benefits  {
    position:relative;
}

.container-benefits .holder {
    overflow:visible;
}

.container-benefit-item {
    display:none;
    background: #f4f4f4;
    position:absolute;
    top: 180px;
    height: 205px;
    width: 1069px;
    text-align: center;
    padding: 20px;
}

.container-benefits h3 {
    float: left;
    padding: 16px 0;
    background-color: #8b8ca6;
    color: #fff;
    margin-top: 0;
    margin-right: 20px;
    min-width: 204px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.3em;
}

.container-benefits h3:hover, .container-benefits h3.active {
    background-color: #002166;
}

.container-benefits h3:last-child {
    margin-right: 0;
}

.carousel .mask .slideset {
    width: 280px;
    float: left;
}


@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 1024px) {

    .container-section-home {
        margin: 0 auto;
        width: 100%;
    }


    .container-section-home h2 {
        font: 600 2em/1em "proxima-nova",Arial,Helvetica,sans-serif !important;
        color: #000;
        text-align: center;
        width: 100%;
        margin: 40px 0 40px !important;
    }

    #container-header {
        padding: 0;
        margin: 0 auto;
        width: 800px;
        position:relative;
        height: 110px;
    }

    #header {
        padding: 0;
        width: 100%;
        background: none;
        background-color: #fff;
        height: 110px;
        position:relative;
    }

    #block-search-form {
        margin-top: 0;
    }


    #container-header-top {
        height: 110px;
    }

    #logo-pernixdata, .logo a img {
        width: 150px;

    }

    .logo {
        float:left;
        width: 150px;
        margin: 50px 0 0 0;
    }

    #nav ul li a {
        padding: 12px 44px 16px 0;
        color: #666;
    }

    #nav .mnavlist ul li ul {
        display: none;
        position: relative;
        top: 0;
        padding: 10px 30px;
        background: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #nav .region-mobile-header a#mnav {
        right: 330px;
        top: -55px;
    }

    .header-utilities {
        margin: 24px 0 0 0;
        width: auto;
        float:none;
        display:none;
    }

    #nav .box, .buttons-nav-top {
        position: absolute;
        top: -80px;
        right: 0;

    }

    .search-mobile {
        display: block;
        position: absolute;
    /*    top: 53px;*/
        right: 260px;
    }


    .trial {

        text-align: center;
        text-transform: uppercase;
        height: 30px;
        letter-spacing: 1px;
        font: 12px/31px "proxima-nova",Arial,Helvetica,sans-serif;
        color: #fff;
        border-radius: 2px !important;
        border: 0 !important;
        cursor: pointer !important;
        padding: 0 10px !important;
        margin: 0 0 0 15px;
        width: auto;
        position: relative;
        float:left;
        top: 0;
        left: 0;
    }

    #footer .holder {
        width: 100%;
        margin: 40px auto 40px;
        border: 1px solid #EBEBEB;
        overflow: hidden;
        padding: 18px 20px 6px;
    }


    p.large-customers {
        height: 150px;
    }

    .region-01 {
        margin-top: 0;
    }

    ul#slider-home-hero li span.h1 {
        font: 700 2em/1.15em "proxima-nova",Arial,Helvetica,sans-serif !important;
        color: #343741;
        text-align: center;
        height: 160px;
    }

}

@media screen and (max-width: 880px) {

    #container-header {
        padding: 0;
        margin: 0 auto;
        width: 550px;
        position:relative;
        height: 60px;
    }

    #header {
        padding: 0;
        width: 100%;
        background: none;
        background-color: #fff;
        height: 60px;
        position:relative;
    }

    #block-search-form {
        margin-top: 0;
    }


    #container-header-top {
        height: 60px;
    }

    #logo-pernixdata, .logo a img {
        width: 150px;

    }

    .logo {
        top: 3px;
        left: 10px;
        width: 150px;
        margin: 17px 0 0 0;
    }

    #nav ul li a {
        padding: 12px 44px 16px 0;
        color: #666;
    }

    #nav .mnavlist ul li ul {
        display: none;
        position: relative;
        top: 0;
        padding: 10px 30px;
        background: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #nav .region-mobile-header a#mnav {
        right: 330px;
        top: -35px;
    }

    .header-utilities {
        margin: 24px 0 0 0;
        width: auto;
        float:none;
        display:none;
    }

    #nav .box, .buttons-nav-top {
        position: absolute;
        top: -55px;
        right: 0;

    }

    .search-mobile {
        display: block;
        position: absolute;
        /*top: 23px;*/
        right: 220px;
    }


    .trial {
        margin: 0 0 0 15px;
        height: 20px;
        font-size: 9px;
        line-height: 21px;
        width: auto;
        position: relative;
        float:left;
        top: 0;
        left: 0;
    }

    #right-utility-nav {

        width: 36px;

    }

    #right-utility {
        display:none;
    }


}

@media screen and (max-width: 566px) {

    #container-header {
        padding: 0;
        margin: 0 auto;
        width: 300px;
        position:relative;
        height: 100px;
    }

    #header {
        padding: 0;
        width: 100%;
        background: none;
        background-color: #fff;
        height: 100px;
        position:relative;
    }

    #block-search-form {
         margin-top: 0;
    }


    #container-header-top {
        height: 60px;
    }

    #nav .region-mobile-header a#mnav {
        right: 39px;
        top: 2px !important;
    }

    #logo-pernixdata, .logo a img {
        width: 100px;

    }

    .logo {
        top: 45px;
        left: 10px;
        margin: 15px 0 0 0;
    }

    #nav ul li a {
        padding: 12px 44px 16px 0;
        color: #666;
    }

    #nav .mnavlist ul li ul {
        display: none;
        position: relative;
        top: 0;
        padding: 10px 30px;
        background: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .header-utilities {
        margin: 24px 0 0 0;
        width: auto;
        float:none;
        display:none;
    }


    .search-mobile {
        display: block;
        position: absolute;
        /*top: 15px;*/
        right: 50px;
    }


    .trial {
        margin: 0 0 0 15px;
        height: 20px;
        font-size: 9px;
        line-height: 21px;
        width: auto;
        position: relative;
        float:left;
        top: 0;
        left: 0;
    }

    #nav .box, .buttons-nav-top {
        position:absolute;
        top: -46px;
        left: 0;
        margin: 0;
    }

    #right-utility-nav {

        width: 36px;

    }

    ul#slider-home-hero li span.h1 {
        font: 700 1.6em/1.15em "proxima-nova",Arial,Helvetica,sans-serif !important;
        color: #343741;
        text-align: center;
        height: 160px;
    }

    .slider-home-center {
        width: 80%;
        padding: 0 10%;
    }


}









